{% extends 'accounts/base_generic.html' %}
{% load widget_tweaks %}

{% block content %}
<br />
<h3>Create Orders for {{ customer.name }}</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="row">
                        <!-- Product Field -->
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.product.label_tag }}
                                {{ form.product|add_class:"form-control" }}
                            </div>
                        </div>

                        <!-- Status Field -->
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.status.label_tag }}
                                {{ form.status|add_class:"form-control" }}
                            </div>
                        </div>

                        <!-- Delete Checkbox -->
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form.DELETE.label_tag }}
                                {{ form.DELETE|add_class:"form-check-input" }}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
				<div class="col-md-6">
					<div class="form-group">
						{% for field in form %}
							{{field.label}}
							{{field|add_class:'form-control'}}
						{% endfor %}
					</div>
				</div>
                <br>
                <button type="submit" class="btn btn-success">Save Orders</button>
            </form>
        </div>
    </div>
	
</div>

<a class="btn btn-warning mt-3" href="{% url 'customer' request.user.customer.id %}">Back to Customer</a>
{% endblock %}